@charset "UTF-8";
/*CSS Document*/

body {
	font-family: 'Lato', sans-serif;
}

h2 {
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Abolition', sans-serif;
	color: #587021;
}

h3 {
	font-size: 30px;
	text-align: center;
	text-transform: capitalize;
	font-family: 'Abolition', sans-serif; 
	color: #587021;
}

h4 {
	font-size: 20px;
	text-align: center;
	text-transform: capitalize;
	font-family: 'Abolition', sans-serif;
	color: #587021;
}

h4 {
	font-size: 24px;
	text-align: center;
	text-transform: capitalize;
	font-family: 'Abolition', sans-serif; 
	color: #4f641d;
}

p {
	font-size: 16px;
	color: #666;
	line-height: 18px;
}

input, textarea {
	color: #999;
}

textarea {
	font-family: 'Lato', sans-serif;
}

a {
	cursor: pointer;
}

img, embed, object, video {
	max-width: 100%;
}

.hidden {
	display: none;
}

#mainContainer {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	min-width: 320px;
	/*set top margin to avoid content overlay*/
	margin-top: 81px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
}


/*  === BUTTONS - MOBILE === */

.btnCon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
}

.btnSmall {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 30px;
	font-family: 'Abolition', sans-serif;
	height: 60px;
	margin: 10px;
	font-size: 24px;
}

.btnLarge {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	font-size: 30px;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 25px;
	font-family: 'Abolition', sans-serif;
}

.dark {
	background-color: #92bd2f;
	color: #fff;
}

.light {
	background-color: #666;
	color: #fff;
}


.btnTop {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px 10px 40px auto;
/*	background-color: gold;*/
}

.btnTop i {
	font-size: 6em;
	color: #587021;
}

.btnTop p {
	font-size: 12px;
	text-transform: uppercase;
	color: #587021;
	font-weight: bold;
	text-align: center;
}

.btnTopBg {
	
	/*let svg define height and width
	height: 60px;
	width: 75px;*/
	padding: 0em 1em;
	border-radius: 75px;
	margin-bottom: 10px;
/*	background-color: tomato;*/
}

#btnJoin {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
	width: 150px;
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
	font-family: 'Abolition', sans-serif;
	/*font-weight: bold;*/
	background-color: #92bd2f;
	color: #fff;
}

.btnDonate {
	margin-bottom: 20px;
}

.subBut {
	margin-left: 2px;
	background-color: #92bd2f;
	color: #fff;
	height: 48px;
	width: 48px;
	border-radius: 0px 20px 20px 0px ;
}

#actionBtns {
	padding: 35px 0px;
}

#actionBtns a:nth-child(3) {
	margin: 20px 0px;
}

.btnLarge:focus, .btnSmall:focus, #btnJoin:focus, .btnTopBg:focus, .subBut:focus{
	transition: ease;
	box-shadow: 0px 3px 4px 0px rgba(31, 29, 30, 0.35);
	cursor: pointer;
}

.downArrow {
	font-size: 6em;
	color: #fff;
	position: absolute;
	top: 80%;
}

/*Swing Button*/

@-webkit-keyframes swing {
    10% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    30% {
        -webkit-transform: translateX(-7px);
       transform: translateX(-7px);
    } 
    50% {
        -webkit-transform: translateX(7px);
       transform: translateX(7px);
    } 

    70%
    {
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing {
    10% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    30% {
        -webkit-transform: translateX(-7px);
       transform: translateX(-7px);
    } 
    50% {
        -webkit-transform: translateX(7px);
       transform: translateX(7px);
    } 

    70%
    {
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.swing:active
{
        -webkit-animation: swing .3s ease;
        animation: swing .3s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}


/* === HEADER - MOBILE === */

#mainHeaderCon {
	/* remember: fixed takes items out of normal flow*/
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #fff;
	box-sizing: border-box;
	/*puts header above hero*/
	z-index: 2;
	transition: all 0.3s;
	border-bottom: 1px solid #ccc;

/*	flex: 1 1 auto;*/
	/* makes nav stretch and grow like a flex*/
	top: 0;
	left: 0;
	right: 0;
}

#headerLogo {
	width: 64px;
}

/* Social Media */

#headerSocialMedia {
	display: none;
}


/* Main Navigation */

.logoPositioning, .subNav, .subNavPositioning, #dropdown{
	display: none;
}

.hamburger {
	font-size: 40px;
	color: #587021;
	transition: all .2s ease-in-out;
}

.hamburger.expanded {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#mainNav {
	display: none;
}

#mainNav.slideToggle {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: absolute;
	height: 100vh;
	width: 50%;
	top: 81px;
	padding: 50px;
	right: 0;
	background-color: #fff;
}

#mainNav.slideToggle ul li {
	margin-bottom: 55px;
}

#mainNav.slideToggle a {
	text-decoration: none;
	font-size: 27px;
	font-family: Abolition, sans-serif;
	color: #587021;
	transition: all ease;
}

#mainNav.slideToggle a:focus {
	color: #92bd2f;
}

.navOverlay {
	background-color: #587021;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -70%;
	right: 0;
	z-index: -1;
	opacity: 0.5;
}


/* === HERO CLASS - MOBILE === */

.hero {
	max-width: 600px;
	height: 408px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.heroProjects {
	background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/projects_hero_small.jpg);
}

.heroAbout {
	background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/about_hero_small.jpg);
}

.heroContact {
	background-image: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.3)), url(../images/contact_hero_small.jpg);
}

.heroJoin {
	background-image: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.3)), url(../images/join_hero_small.jpg);
}

.heroImage {
	position: absolute;
	top: 0;
	left: 0;
}

.hero h2 {
	font-size: 48px;
	color: #fff;
	position: absolute;
	text-shadow: 0px 4px 1.94px rgba(35, 31, 32, 0.4);
}

/* === HOME - MOBILE === */

	#traaWelcome {
		font-size: 60px;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Abolition', sans-serif;
		color: #587021;
		margin-top: 35px;
		display: flex;
		flex-wrap: wrap;
		/* makes text wrap more nicely*/
		padding: 0 50px;
	}

	/* Carousel - MOBILE */

	#carousel {
	  	display: flex;
	  	flex-direction: column;
	  	justify-content: flex-end;
	  	position: relative;
	  	height: 408px;
	  	background-image: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.3)), url(../images/home_hero_small.jpg);
	}

	#carouselArrows {
		display: none;
	}
	
	/* hides not only carousel, but events widget arrows */
	.carouselArrow {
		display: none;
	}

	#carouselPickerCon {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: absolute;
		padding-bottom: 35px;
		left: 0;
		right: 0;
	}

	#carouselPicker {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100px;
	}

	.carouselOption {
		padding: 8px;
		border-radius: 8px;
		background-color: #fff;
	}

	.carouselOption:active {
		cursor: pointer;
	}

	/* === HOME - WELCOME SECTION - MOBILE === */

	#welcome {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#welcomeDesc {
		text-align: justify;
		vertical-align: middle;
		padding: 35px 30px 60px 30px;
	}

	#welcomeDesc p{
		font-size: 18px;
		line-height: 24px;
		font-weight: bold;
		color: #666;
	}


	/* === EVENTS - MOBILE  === */

	#eventsWidget {
		display: flex;
		flex-direction: column;
		background-color: #587021;
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%2392bd2f' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
		background-attachment: fixed;
		padding: 20px 0px;
		margin-bottom: 60px;
	}

	#eventsWidget h2 {
		color: #fff;
	}

	#scrollWrap {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#events {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow-x: auto;
		margin-left: 20px;
		margin-right: 20px;
	}

	.event {
		flex: 0 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 232px;
		height: 185px;
		margin: 20px 10px 20px 0px;
		padding: 24px;
		background-color: #fff;
		box-shadow: 0px 7px 4px 0px rgba(31, 29, 30, 0.35);
	}

	.event:hover {
		/*add javascript to link events to proper pages*/
		cursor: pointer;
	}

	.dateTitleCon {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 25px;
	}

	.date p {
		text-transform: uppercase;
	  	text-align: left;
	  	border-right: 3px solid #666;
	  	padding-right: 10px;
	  	margin-right: 10px;
	  	color: #587021;
	  	font-family: Abolition, sans-serif;
	  	line-height: 40px;
	}

	.day {
	  font-size: 30px;
	}

	.month {
	  font-size: 40px;
	}

	.title {
	  font-size: 18px;
	  text-align: left;
	  font-family: Lato, sans-serif;
	  color: #587021;

	}

	.eventDesc {
	  font-size: 16px;
	  line-height: 23px;
	  color: rgb(102, 102, 102);
	  text-align: justify;
	  color: #666;
	}

	/* === HOME - ABOUT SECTION - MOBILE === */

	#about {
		display: flex;
		flex-direction: column;
		max-width: 1052px;
		margin: 0 auto;
	}

	#aboutCon {
		box-sizing: border-box;
		max-width: 1052px;
		/*let content dictate height*/
		padding: 35px 0px;
		background-color: #fff;
		text-align: center;
		margin-bottom: 60px;
	}

	#aboutDesc {
		margin: 35px 0px;
	}

	#statements {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 60px;
	}

	.statement {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.statement p{
		line-height: 18px;
		padding: 0px 30px;
	}

	.statement img {
		max-height: 150px;
	}

	.statement:nth-child(3) {
		border-top: 3px solid #666;
		border-bottom: 3px solid #666;
		padding-top: 40px;
		padding-bottom: 40px;
		margin: 35px 0px;
	}

	.statementTitle {
		font-weight: bold;
		margin: 15px 0px 20px 0px;
		color: #587021;
	}

	/* === HOME - IMPACT SECTION - MOBILE === */

	#impact {
		display: flex;
		flex-direction: column;
		background-color: #587021;
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%2392bd2f' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
		background-attachment: fixed;
		padding: 35px 0px;
	}

	#impact h2 {
		margin-bottom: 35px;
		color: #fff;
	}

	#impact p {
		text-align: justify;
		margin-bottom: 35px;
		font-size: 18px;
		line-height: 24px;
		color: #fff;
		max-width: 884px;
		align-self: center;
		padding: 10px;
	}

	/* === HOME - LATEST NEWS SECTION - MOBILE === */

	#latestNews {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		padding: 60px 0px;
	}

	#latestNews h2 {
		margin-bottom: 35px;
	}

	#latestNewsDesc {
		text-align: center;
		margin-bottom: 35px;
		padding: 0px 10px;
	}

	#newsCon {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#newsCon .newsConColumn:nth-child(2){
		display: none;
	}

	#newsCon .newsConColumn:nth-child(3){
		display: none;
	}

	.newsConColumn {
		display: flex;
		flex-direction: column;
	}

	.newsImg {
		max-width: 283.8px;
	}

	.newsDesc {
		box-sizing: border-box;
		max-width: 283.8px;
		padding: 15px;
		margin-bottom: 20px;
		box-shadow: 0px 3px 3.84px 0.16px rgba(31, 29, 30, 0.34);
	}

	.newsIcon {
		display: inline-block;
		height: 15px;
		width: 15px;
		background-image: url(../images/blog_date.svg);
	}
	.newsDate {
		font-family: Lato, sans-serif;
		font-size: 14px;
		color: #587021;
	}

	.newsTitle {
		font-family: Abolition, sans-serif;
		font-size: 24px;
	/*	font-weight: bold;*/
		text-transform: uppercase;
		color: #587021;
		margin-top: 5px;
	}

	.newsSubtitle {
		font-size: 14px;
		font-style: italic;
		margin-top: 5px;
		color: #666;
	}

	/* === HOME - SPONSORS SECTION - MOBILE === */

	#sponsors {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		padding: 35px 0px;
		background-color: #fff;
	  	box-shadow: 0px 0px 4.65px 0.35px rgba(31, 29, 30, 0.34);
	}

	.sponRow {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.sponRow img {
		margin: 25px;
	}

	#sponsors h2 {
		margin-bottom: 35px;
	}

	#sponsors p {
		text-align: center;
		margin-bottom: 10px;
		line-height: 18px;
		padding: 0px 10px;
	}

	.tryRecycling {
		max-height: 73px;
	}


/* === PROJECTS PAGE - MOBILE === */

#donateBanner {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #587021;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%2392bd2f' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-attachment: fixed;
	padding: 40px;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}

#donateBanner p {
	font-size: 24px;
	line-height: 30px;
/*	text-transform: uppercase;*/
	color: #fff;
	align-self: center;
	margin-top: auto;
	margin-bottom: 35px;
	text-align: center;
}

#projectArea {
	display: flex;
	flex-direction: column;
}

.projectRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.project {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 320px;
	height: 250px;
	flex: 1 1 300px;
	cursor: pointer;
}

.project h3 {
	color: #fff;
	text-align: center;
}

#projectHatchery {
	background: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.2)), url(../images/projects_hatchery_small.jpg) no-repeat center;
}

#projectSalmonid {
	background: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.2)), url(../images/projects_salmonid_monitoring_small.jpg) no-repeat center;
}

#projectKomoka {
	background: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.2)), url(../images/projects_komoka_creek_small.jpg) no-repeat center;
}

#projectBrownTrout {
	background: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.2)), url(../images/projects_brown_trout_hatchery_small.jpg) no-repeat center;
}

#projectBrownTrout button{
	margin-top: 20px;
}

#projectArchive {
	box-sizing: border-box;
	height: 200px;
	background-color: #587021;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%2392bd2f' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	padding-bottom: 10px;
}

#projectArchive h2 {
	font-size: 48px;
	color: #fff;
	margin-bottom: 40px;
}

/* === ABOUT - MOBILE === */

#tagline {
	margin: 35px auto;
	text-align: center;
	padding: 0px 30px;
}

#tagline p {
	font-size: 18px;
}

/* Mission Statements - MOBILE */

#mission {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}

#mission h2 {
	margin-bottom: 35px;
}

.statementsCon {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.missionStatement {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px;
	max-width: 335px;
	background-color: #fff;
	border-bottom: 3px #666 solid;
}

.missionStatement:last-child {
	border-bottom: none;
}

#missionStatementIcon1 {
	width: 110px;
}

#missionStatementIcon2 {
	width: 106px;
}

#missionStatementIcon3 {
	width: 144px;
}

#missionStatementIcon4 {
	width: 85px;
}

#missionStatementIcon5 {
	width: 118px;
}

#missionStatementIcon6 {
	width: 168px;
	margin-bottom: 30px;
}

.missionStatement p {
	margin-top: 20px;
	text-align: center;
}

/* History - MOBILE */

#history {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 35px 10px;
	background-color: #587021;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%2392bd2f' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-attachment: fixed;
}

#history h2{
	color: #fff;
}

#historyCon {
	display: flex;
	flex-direction: column;
	margin-top: 35px;
	justify-content: center;
	align-items: center;
	max-width: 1200px
}

.historyEntry {
	display: flex;
}

.historyYear {
	display: flex;
	align-items: center;
	border-right: 3px #fff solid;
	padding: 40px 0px;
}

.yearCircle {
	max-height: 65px;
	width: 65px;
	border-radius: 65px;
	line-height: 65px;
	text-align: center;
	vertical-align: middle;
	background-color: #ececec;
	position: relative;
	font-family: Abolition, sans-serif;
	color: #587021;
	font-size: 18px;
}

.yearLine {
	width: 10px;
	height: 3px;
	background-color: #fff;
}

.descBox {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	text-align: justify-all;
	background-color: #ececec;
	position: relative;
	padding: 20px;
	font-family: Lato, Arial, sans-serif;
	color: #666;
	margin: 30px 0px 30px 10px;
}

/* Team - MOBILE */

#team {
	padding: 35px 0px;
}

#team h2 {
	margin-bottom: 35px;
}

#teamStatement {
	text-align: justify;
	padding: 0px 10px;
}

#executives {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* factors in margin on cards */
	margin-top: 25px;
	flex-wrap: wrap;
}

#volunteers {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* factors in margin on cards */
	margin-top: 20px;
	flex-wrap: wrap;
}

.member {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	margin: 10px;
	flex: 1 1 330px;
}

.membersCard {
	display: flex;
	max-height: 298px;
	flex: 1 1 330px;
	justify-content: center;
	align-items: center;
	background-color: #587021;
	margin: 10px;
	padding: 10px 0px;
}

.membersCard h3{
	color: #fff;
}

.memberName {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 40px 20px;
	background-color: #587021;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%2392bd2f' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-attachment: fixed;
}

.memberName p {
	color: #fff;
	font-family: Abolition, Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
}

.memberTitle {
	padding: 20px 40px;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0px 3px 3.84px 0.16px rgba(31, 29, 30, 0.34);
}

/* === CONTACT PAGE - MOBILE === */	

#mainContact h3 {
	margin-top: 40px;
}

#mainContact p {
	padding: 15px 10px;
	text-align: center;
}

#announcement {
	display: none;
}

#addresses {
	display: flex;
	flex-wrap: wrap;
	/*flex-direction: column;
	vertical-align: center;*/
	margin-right: auto;
	margin-left: auto;
	max-width: 900px;
}

.addressesCon {
	margin-top: 40px;
	flex: 1 0 350px;
}

.addressesCon h4 {
	text-align: center;
}

.addressesCon img {
	width: auto;
	height: 20px;
	margin-right: 8px;
}

#form {
	margin-top: 40px;
	text-align: center;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

#form input, textarea {
	width: 85%;
	font-size: 14px;
	border: 1px solid #4f641d;
	padding: 10px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#form input:last-child {
	margin-top: 40px;
	color: #fff;
	font-size: 18px;
	border: none;
}

#mapArea {
	margin: 80px auto;
}

#mapArea iframe {
	width: 100%;
	height: 300px;
}

#eventsWidget {
	display: none;
}

/* === JOIN PAGE - MOBILE === */

#mainJoin h2 {
	margin-top: 40px;
}

#mainJoin p {
	padding: 40px 30px;
	text-align: center;
}

#priceCon {
	display: flex;
	flex-direction: column;
}

#membershipPrice {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-color: #4f641d;
	margin: 20px auto;
	color: #fff;
	font-size: 60px;
	text-align: center;
	line-height: 100px;
	font-family: 'Abolition', sans-serif;
	position: relative;
	z-index: 1;
	top: -100px;
}

#joinInfo {
	background-color: #92bd2f;
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	top: -170px;
	z-index: 0;
}

#joinInfo p {
	font-family: 'Abolition', sans-serif;
	color: #fff;
	font-size: 24px;
	text-align: center;
	margin-top: 30px;
	padding: 40px;
}

#joinInfo ul {
	 list-style-image: url(../images/check.png);
	 /*list-style-position: inside;*/
	 /*margin-left: 60px;*/
	 margin: 0 auto;
	 padding-left: 60px;
}

#joinInfo ul li {
	margin: 0 auto;
	color: #fff;
	padding: 3px 20px;
}

#joinInfo li:last-child {
	margin-bottom: 50px;
}

#joinProcess {
	display: flex;
	width: 80%;
	margin: 20px auto;
	position: relative;
	top: 500px;
}

.processOrder {
	display: flex;
	flex-direction: column;
	width: 20%;
}

.circle {
	margin: 0 auto;
	background-color: #4f641d;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	padding: 2px;
	font-family: 'Abolition', sans-serif;   
}

.processOrder p {
	font-family: 'Abolition', sans-serif;
	color: #4f641d;
	text-align: center;
	margin-top: 5px;
}

.connector {
	width: 20%;
	height: 2px;
	background-color: #666;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

#joinInfo {
	display: flex;
	flex-direction: column;
}

#joinForm {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 0 auto;
}

#joinForm a {
	color: #666;
	font-family: 'Abolition', sans-serif;
	font-size: 18px;
	text-align: right;
	margin-right: 10px;
}

#joinForm p {
	padding: 10px;
}

#joinForm label {
	text-transform: uppercase;
	font-size: 18px;
	display: block;
	color: #4f641d;
	padding-left: 10px;
}

#joinForm input {
	width: 90%;
	font-size: 14px;
	border: 1px solid #4f641d;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#joinForm input:last-child {
	margin-top: 40px;
	font-size: 18px;
}

#charts {
	display: none;
}

#paperForm {
	margin: 0 auto;
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	background-color: #587021;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%2392bd2f' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-attachment: fixed;
}

#paperForm h3 {
	padding: 40px 10px;
	color: #fff;
}

#paperForm p {
	padding: 0 10px 20px 10px;
	color: #fff;
}

#paperForm a {
	margin: 0 10px 40px 10px;
}




/* === MAIN FOOTER === */

#mainFooter {
	background-color: #587021;
	padding: 0px 10px 35px 10px;
}

#mainFooter h3 {
	font-size: 30px;
	margin: 35px 0px;
	color: #fff;
	text-align: center;
}

#mainFooterCon {
	display: flex;
	flex-direction: column;
}

/* Footer Navigation - MOBILE */

#mainFooterNav {
	order: -1;
	text-align: center;
	border-bottom: 3px solid #fff;
}

#mainFooter li {
	margin-bottom: 35px;
}

#mainFooterNav li a {
	font-family: 'Lato', sans-serif;
	color: #fff;
	text-decoration: underline;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}

/* Newsletter and Social Media Container - MOBILE */

#newsSocCon {
	display: flex;
	flex-direction: column;
	text-align: center;
	border-bottom: 3px solid #fff;
	flex: 1;
}

#newsletter p {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 15px;
	color: #ccc;
}

.text {
	height: 47px;
}

#name {
	padding-left: 10px;
	border-radius: 	20px 0px 0px 20px;
}

#mainFooterSocialNav ul {
	display: flex;
	flex-direction: row;
	margin-top: 35px;
	justify-content: center;
}

#mainFooterSocialNav ul li {
	width: 40px;
	margin-right: 20px;
}

/* Contact Blurb */

#mainFooterContact {
	display: none;
}

/* Footer Logo */

#mainFooterJoin {
	display: none;
}

#mainFooterLogo {
	display: none;
}

/* Bottom Footer - MOBILE */

#mainFooterBottom {
	font-family: Lato, sans-serif;
	font-size: 14px;
	color: #ccc;
}

#mainFooterBottom ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
/*	background-color: tomato;*/
}

#mainFooterBottom ul li:first-child {
	order: 4;
	text-align: center;
}

/* reference items by order in HTML */

#mainFooterBottom ul li:nth-child(3),
#mainFooterBottom ul li:first-child {
	margin: 0px 15px;
}
 /* END MAIN FOOTER - MOBILE */

 /* === MEDIA QUERIES === */

@media screen and (min-width: 321px) {
		
	.project {
		max-width: 480px;
		min-width: 321px;
		flex: 1;
	}

	#projectHatchery {
		background-image: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.2)), url(../images/projects_hatchery.jpg);
	}

	#projectSalmonid {
		background-image: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.2)), url(../images/projects_salmonid_monitoring.jpg);
	}

	#projectKomoka {
		background-image: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.2)), url(../images/projects_komoka_creek.jpg);
	}

	#projectBrownTrout {
		background-image: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.2)), url(../images/projects_brown_trout_hatchery.jpg);
	}

	#projectBrownTrout button{
		margin-top: 20px;
	}
}

@media screen and (min-width: 420px) {
	#joinProcess {
		top: 470px;
	}
}

@media screen and (min-width: 480px) {

	#welcomeDesc {
		text-align: center;
	}

	.projectRow {
		flex-wrap: nowrap;
	}
	.project {
		/* resetting 321px media query max-min widths*/
		max-width: inherit;
		min-width: inherit;
		flex: 1;
	}
}

@media screen and (min-width: 601px) {

	#carousel {
		background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/home_hero.jpg);
		max-width: 1366px;
	}

	.hero {
		max-width: 1366px;
	}

	.heroProjects {
		background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/projects_hero.jpg);
	}

	.heroAbout {
		background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/about_hero.jpg);
	}

	.heroContact {
	    background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/contact_hero.jpg);
	}

	.heroJoin {
	    background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/join_hero.jpg);
	}
}

@media screen and (min-width: 699px) {

	.addressesCon:first-child {
		border-right: #666 2px solid;
	}

	#mainContact p {
		padding-right: 20px;
		padding-left: 20px;
	}
}

@media screen and (min-width: 670px) {
	.statementsCon {
		margin-bottom: 35px;
	}

	.missionStatement:nth-child(5) {
		border-bottom: none;
	}

	.missionStatement:nth-child(odd) {
		border-right: 3px #666 solid;
	}

}

/* === TABLET VERSION === */

@media screen and (min-width: 768px) {

	#mainContainer {
		margin-top: 200px;
	}

	/* === HERO CLASS === */
	
	.hero {
		height: 510px;
		width:100%;
	}

	.hero h2 {
		font-size: 60px;
	}

	/* === HEADER === */

	#mainHeader {
		/* remember: fixed takes items out of normal flow*/
		position: fixed;
		/*puts header above hero*/
		display: flex;
		flex-direction: column;
		z-index: 2;
		top: 0;
		right: 0;
		left: 0;
		margin: 0 auto;
/*		max-width: 1200px;*/
		transition: all .5s ease;
		transition-delay: top .3s ease;
	}

	#mainHeaderCon {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 20px;
		background-color: #fff;
		box-sizing: border-box;
		transition: all 0.3s;
		border-bottom: 1px solid #ccc;

		/*resets coded values for mobile*/
		margin: 0 auto;
/*		max-width: 1200px;*/
		top: 48px;
		transition: top .8s ease;
	}

	#headerLogo {
		width: 122px;
		margin-right: 20px;
	}

	/* Social Media */

	#headerSocialMedia {
		display: block;
	}

	#headerSocialMedia ul {
		display: flex;
		flex-direction: row;
		padding: 15px 45px 15px 15px;
		justify-content: flex-end;
		box-sizing: border-box;
		background-color: #587021;
/*		flex-basis: 1 1 960px;*/
		top: 0;
		right: 0;
		left: 0;
		margin: 0 auto;
/*		max-width: 1200px;*/
	}

	#headerSocialMedia ul li{
		width: 22px;
		height: 22px;
		margin-left: 20px;
	}

	/* Main Navigation */

	.navOverlay {
		display: none;
	}

	.hamburger {
		display: none;
	}

	#mainNav {
		display: flex;
		margin-left: auto;
		margin-right: 20px;
	}

	#mainNav ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#mainNav ul li {
		display: inline;
	}

	#mainNav ul li:first-child {
		order: 3;
		color: #92bd2f;
	}

	#navJoin {
		color: #fff !important;
		background-color: #92bd2f !important;
		margin-left: 20px;
	}

	#mainNav a {
		text-decoration: none;
		font-family: Abolition, sans-serif;
		color: #587021;
		transition: all .5s ease;
		font-size: 24px;
		padding: 20px 30px;
		border-radius: 40px;
	/*	background-color: skyblue;*/
	}

	#mainNav a:hover {
	/*	padding: 20px 30px;*/
		border-radius: 40px;
		color: #92bd2f;
	}

	/* sub nav beginning*/


	.logoPositioning {
		display: block;
		width: 122px;
		margin-right: 20px;
		margin-left: 20px;
		opacity: 0;
	}

	#dropdown {
		display: block;
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		transition: all 0.3s;
		top: 151px;
		left: 0;
		right: 0;
		flex: 1;
		padding-right: 40px;
	}

	.subNavPositioning {
		display: block;
		padding: 20px 65px;		
		font-family: Abolition, sans-serif;
		font-size: 18px;
	}

	.subNav {
		transition: all .3s ease;
	}

	.subNav ul li {
		background-color: #92bd2f;
		padding: 20px 50px;
	}

	.subNav ul li a {
		font-family: Abolition, sans-serif;
		font-size: 18px;
		color: #fff;
	}

	#whoNav {
		display: none;
	}

	#workNav {
		display: none;
	}

	#whoNav {
		margin-left: auto;
	}

	#workNav ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #92bd2f;
	}

	#workNav ul li {
		margin-bottom: 20px;
	}

	/* === HOME - ABOUT SECTION - TABLET === */

	#statements {
		flex-direction: row;
	}

	.statement {
		max-width: 200px;
		max-height: 300px;
		padding: 0 40px;
	}

	.statement:nth-child(3){
		border-right: 3px solid #666;
		border-left: 3px solid #666;
		border-top: none;
		border-bottom: none;
		padding-right: 40px;
		padding-left: 40px;
		margin: 0px;
	}

	/* === HOME - LATEST NEWS SECTION - TABLET === */

	#newsCon {
		flex-direction: row;
		/* switched from column to row, makes sure column2 is aligned properly*/
		align-items: flex-start;
	}

	#newsCon .newsConColumn:nth-child(2){
		margin-left: 20px;
		margin-right: 20px;
	}

	#newsCon .newsConColumn:nth-child(2){
		display: block;
	}

	/* === ABOUT - TABLET === */

	
	/* History - TABLET */

	#history {
		padding: 40px;
	}

	#historyCon {
		margin-top: 40px;
		align-items: center;
		justify-content: center;
	}

	.historyYear {
		padding: 40px 0px;
	}

	.yearCircle {
		max-height: 100px;
		width: 100px;
		border-radius: 100px;
		line-height: 100px;
		font-size: 30px;
	}

	.yearLine {
		width: 40px;
	}

	.descBox {
		text-align: center;
		margin: 20px 40px 20px 40px;
		/* has flex, used inspector tools, took max-width of box without shifting*/
		box-sizing: border-box;
/*		min-width: 484px;*/
		/* same as statements*/
		width: 330px;
	}

	.historyEntry:nth-child(even) .descBox {
		order: -1;
		margin-left: 40px;
		margin-right: 0px;
	}

	.historyEntry:nth-child(even) .historyYear {
		border-right: none;
		border-left: 3px #fff solid;
		margin-left: 40px;
/*		margin-right: 424px;*/
		margin-right: 270px;
	}

/*	.historyEntry:nth-child(odd) .historyYear {
		margin-left: 427px;
	}*/

	.historyEntry:nth-child(odd) .historyYear {
		margin-left: 270px;
	}

	.historyEntry:nth-child(even) .yearCircle {
		order: 2;
	}

	/* Team - TABLET */

	#team {
		/* factors in margins on cards (10px + 30px =40px)*/
		padding: 30px;
	}

		#team p {
		text-align: center;
	}
		.missionStatement {
		margin: 20px;
		box-shadow: 0px 4px 7.68px 0.32px rgba(31, 29, 30, 0.34);
		border-bottom: none;
	}

	/* must select it this way to work*/
	.missionStatement:nth-child(odd) {
		border-right: none;
	}

		/* === HOME - SPONSORS SECTION - DESKTOP === */

	#sponsors {
		padding: 40px;
	}

	#sponsors h2 {
		margin-bottom: 40px;
	}

	#sponsors p {
		margin-bottom: 40px;
		padding: 0;
	}

	.sponRow {
		display: flex;
		flex-direction: row;
		margin: 0px auto 40px auto;
	/*	background-color: tomato;*/
	}

	.sponRow img {
		/* resets mobile values */
		margin: 0;
	}

	.sponRow img:nth-child(2) {
		margin-left: 40px;
	}

	.sponRow img:nth-child(3) {
		margin-left: 40px;
	}
  
	/* === CONTACT PAGE - TABLET === */

	.heroContact {
	background-image: linear-gradient(rgba(79,100,29,.2), rgba(79,100,29,.2)), url(../images/contact_hero.jpg);
	}

	#addresses {
		flex-wrap: no-wrap;
	}

}


/* === DESKTOP VERSION === */

@media screen and (min-width: 938px){

	p {
		font-size: 16px;
		line-height: 20px;
	}

	/* === MAIN NAV - DESKTOP ===*/

	#headerSocialMedia ul li {
		transition: all .5s ease;
	}

	#headerSocialMedia ul li:hover {
		opacity: .5;
	}

	/* === BUTTONS - DESKTOP === */

	.btnSmall {
		height: 40px;
		flex: 1;
		max-width: 200px;
		margin: 0px 12px;
		font-size: 24px;
	}

	.btnLarge {
		height: 60px;
		flex: 1;
		max-width: 200px;
		font-size: 24px;
	}

	.btnCon {
		flex-direction: row;
	}

	.subBut {
	height: 41px;
	width: 41px;
	}

	#actionBtns {
		display: none;
	}

	#donateBanner a{
		/* value very close to large button width*/
		flex: 1 1 145px;
	}

	.btnDonate {
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 0px;
	}

	.btnLarge:hover, .btnSmall:hover, #btnJoin:hover, .btnTopBg:hover, .subBut:hover, #navJoin:hover{
	transition: all .3s ease;
	box-shadow: 0px 3px 4px 0px rgba(31, 29, 30, 0.35);
	cursor: pointer;
	}

	.btnTop {
	margin: 40px 60px 40px auto;
	}
	
	/* === HOME - DESKTOP === */

	#traaWelcome {
		margin-top: 60px;
	}

	/* Carousel - DESKTOP */

	#carousel {
		height: 510px;
	}

	#carouselArrows {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		z-index: 1;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		box-sizing: border-box;
	}

	.arrowCircleLeft {
		background: #92bd2f;
		padding: 2em 2em 2em 1em;
		border-top-right-radius: 5em;
		border-bottom-right-radius: 5em;
		position: relative;
		cursor: pointer;
		transition: all .3s ease;
	}


	.arrowCircleLeft:hover {
		opacity: .9;
	}

	.arrowCircleRight {
		background: #92bd2f;
		padding: 2em 1em 2em 2em;
		border-top-left-radius: 5em;
		border-bottom-left-radius: 5em;
		position: relative;
		cursor: pointer;
		transition: all .3s ease;
	}

	.arrowCircleRight:hover {
		opacity: .9;
	}

	.carouselArrow {
		display: block;
		font-size: 6em;
		color: #fff;
	}

	#carouselPickerCon {
		padding-bottom: 40px;
	}

	#carouselPicker {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100px;
	}

	.carouselOption {
		padding: 8px;
		border-radius: 8px;
		background-color: #fff;
	}

	.carouselOption:hover {
		cursor: pointer;
	}

	/* === HOME - WELCOME SECTION - DESKTOP === */

	#welcomeDesc {
		width: 840px;
		padding: 60px 0px;
	}

	/* === EVENTS - DESKTOP  === */

	#eventsWidget {
		padding: 20px;
		margin-bottom: 40px;
	}

	.event {
		width: 290px;
		height: 232px;
	}

	.dateTitleCon {
		margin: 0px;
	}

	/* === HOME - ABOUT SECTION - DESKTOP === */

	#aboutCon {
		padding: 40px 0px;
		margin-bottom: 40px;
		box-shadow: 0px 4px 7.68px 0.32px rgba(31, 29, 30, 0.34);
	}

	#aboutDesc {
		margin: 40px 0px;
	}

	#statements {
		flex-direction: row;
		margin-bottom: 40px;
	}

	.statement img {
		margin-bottom: 30px;
		max-height: 50%;
		max-width: 100%;
	}

	.statementTitle {
		font-weight: bold;
		margin: 15px 0px 20px 0px;
		color: ;
	}

	/* === HOME - IMPACT SECTION - DESKTOP === */

	#impact {
		padding: 40px;
	}

	#impact h2 {
		margin-bottom: 40px;
	}

	#impact p {
		text-align: center;
		margin-bottom: 40px;
		align-self: center;
	}

	/* === HOME - LATEST NEWS SECTION - DESKTOP === */

	#latestNews {
		padding: 40px;
	}

	#latestNews h2 {
		margin-bottom: 40px;
	}

	#latestNewsDesc {
		margin-bottom: 40px;
	}

	#newsCon {
		flex-direction: row;
	}

	#newsCon .newsConColumn:nth-child(3){
		display: block;
	}

	.newsConColumn {
		display: flex;
		flex-direction: column;
	}

	.newsImg {
		max-width: 283.8px;
	}

	.newsDesc {
		box-sizing: border-box;
		max-width: 283.8px;
		padding: 15px;
		margin-bottom: 20px;
		box-shadow: 0px 3px 3.84px 0.16px rgba(31, 29, 30, 0.34);
	}

	.newsIcon {
		display: inline-block;
		height: 15px;
		width: 15px;
		background-image: url(../images/blog_date.svg);
	}
	.newsDate {
		font-family: Lato, sans-serif;
		font-size: 14px;
		color: #587021;
	}

	.newsTitle {
		font-family: Abolition, sans-serif;
		font-size: 24px;
	/*	font-weight: bold;*/
		text-transform: uppercase;
		color: #587021;
		margin-top: 5px;
	}

	.newsSubtitle {
		font-size: 14px;
		font-style: italic;
		margin-top: 5px;
		color: #666;
	}

	/* === HOME - SPONSORS SECTION - DESKTOP === */

	#sponsors {
		padding: 40px;
	}

	#sponsors h2 {
		margin-bottom: 40px;
	}

	#sponsors p {
		margin-bottom: 40px;
		padding: 0;
	}

	.sponRow {
		display: flex;
		flex-direction: row;
		margin: 0px auto 40px auto;
	/*	background-color: tomato;*/
	}

	.sponRow img {
		/* resets mobile values */
		margin: 0;
	}

	.sponRow img:nth-child(2) {
		margin-left: 40px;
	}

	.sponRow img:nth-child(3) {
		margin-left: 40px;
	}

	/* === PROJECTS PAGE - DESKTOP === */

	#donateBanner {
		flex-direction: row;
		justify-content: flex-start;
		padding: 60px 40px;
	}

	#donateBanner p {
		font-size: 24px;
	/*	text-transform: uppercase;*/
		color: #fff;
		align-self: center;
		margin-top: auto;
		margin-bottom: auto;
		margin-right: auto;
	}

	#projectArea {
		display: flex;
		flex-direction: column;
	}

	.projectRow {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.project {
	max-width: 600px;
	height: 500px;
	flex: 1;
	transition: all 1s ease;
	}

	.project h3 {
		color: #fff;
		text-align: center;
	}
	
	#projectHatchery {
		background-image: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.2)), url(../images/projects_hatchery_large.jpg);
	}

	#projectHatchery:hover {
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/projects_hatchery_large.jpg);
	}

	#projectSalmonid {
		background-image: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.2)), url(../images/projects_salmonid_monitoring_large.jpg);
	}

	#projectSalmonid:hover {
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/projects_salmonid_monitoring_large.jpg);
	}

	#projectKomoka {
		background-image: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.2)), url(../images/projects_komoka_creek_large.jpg);
	}

	#projectKomoka:hover {
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/projects_komoka_creek_large.jpg);
	}

	#projectBrownTrout {
		background-image: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.2)), url(../images/projects_brown_trout_hatchery_large.jpg);
	}

	#projectBrownTrout:hover {
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/projects_brown_trout_hatchery_large.jpg);
	}

	#projectBrownTrout button{
		margin-top: 20px;
	}

	#projectArchive {
		box-sizing: border-box;
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		padding-bottom: 10px;
	}

	#projectArchive h2 {
		font-size: 48px;
		color: #fff;
		margin-bottom: 40px;
	}

	/* === ABOUT - DESKTOP === */

	#tagline {
		margin: 40px auto;
		padding: 0;
	}

	#tagline p {
		font-size: 18px;
	}

	/* Mission Statements */

	#mission {
		padding: 0px 40px;
	}

	#mission h2 {
		margin-bottom: 40px;
	}

	.statementsCon {
		margin-bottom: 40px;
	}

	.missionStatement:nth-child(2), .missionStatement:nth-child(5) {
		margin-right: 20px;
		margin-left: 20px;
	}

	.missionStatement {
		margin: 20px;
	}

	/* Team - DESKTOP */

	#team {
		/* factors in margins on cards (10px + 50px =60px)*/
		/* + extra added padding so it changes to 2 columns with the mission statements*/
		padding: 58px;
	}

	#executives {
		/* factors in margins on cards (10px + 30px =40px)*/
		margin-top: 30px;
	}

	#volunteers {
		margin-top: 30px;
	}

	.member {
		flex: none;
	}
	
	.membersCard {
		background-color: #587021;
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%2392bd2f' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
		background-attachment: fixed;
		flex: 0 1 330px;
	}

	.memberName {
		background-color: #587021;
		background-image: none;
		width: 330px;
	}

	.memberTitle {
		max-width: 330px;
	}
  
  	/* === CONTACT PAGE - DESKTOP === */

	#announcement {
		display: flex;
		margin-top: 40px;
		margin-right: auto;
		margin-left: auto;
		max-width: 900px;
		width: 70%;
	}

	#close {
		background-color: rgba(79, 100, 29, .8);
		padding: 30px 10px;
	}

	#circle {
		background-color: #fff;
		width: 15px;
		height: 15px;
		border-radius: 15px;
		color: #4f641d;
		padding: 5px;
		font-size: 12px;
		text-align: center;
		cursor: pointer;
	}

	#announcement a {
		color: #fff;
		font-size: 14px;
		background-color: rgba(79, 100, 29, .5);
		padding: 30px 10px;
		text-align: center;
		width: 100%;
		vertical-align: middle;
	}

	#form input:first-child {
		display: inline;
		width: 40%;
		margin-right: 11px;
	}

	#form input:nth-child(2) {
		display: inline;
		width: 40%;
		margin-left: 11px;
	}

	#form input:last-child {
		width: 150px;
		margin-right: 60px;
	}

	#eventsWidget {
		display: block;
	}

	/* === JOIN PAGE - DESKTOP === */

	#joinProcess {
		position: static;
	}

	.circle {
		width: 50px;
		height: 50px;
		border-radius: 50px;
		font-size: 26px;
		line-height: 50px;
	}

	.connector {
		width: 70%;
	}

	.processOrder p {
		font-size: 22px;
		padding-top: 8px;
	}

	#infoAndForm{
		display: flex;
		margin: 60px auto 0 40px;
	}

	#membershipPrice {
		position: static;
		margin: 0 auto;
		width: 200px;
		height: 200px;
		border-radius: 200px;
		font-size: 80px;
		line-height: 200px;
	}

	#joinInfo {
		position: relative;
		top: -120px;
		margin-right: 60px;
	}

	#joinInfo p {
		margin-top: 120px;
	}

	#joinInfo ul {
		margin-bottom: 20px;
	}

	#joinForm {
		margin: 0 40px 0 auto;
		width: 60%;
		max-width: none;
	}

	#joinForm label {
		margin-top: 20px;
	}

	#joinForm input {
		margin-top: 15px;
	}

	#joinForm input:last-child {
		margin-right: 18px;
	}

	#charts {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		background-color: #587021;
}

	#charts h3 {
		color:#fff;
		margin-top: 40px;
	}

	#chartRow {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin-top: 40px;
	}

	.chartCon {
		display: flex;
		flex-direction: column;
		width: 410px;
	}

	.chartRowImg {
		width: 410px;
	}

	.chartCon p {
		width: 410px;
		color: #fff;
		padding: 20px;
		font-size: 16px;
	}

	#singleChart {
		display: flex;
		flex-direction: column;
	}

	.chartImgSingle {
		width: 641px;
		margin: 0  auto;
	}

	#singleChart p {
		color: #fff;
		padding: 20px;
		font-size: 16px;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	#paperForm {
		margin-top: 0;
	}

	#paperFormText {
		margin: 20px auto 20px 40px;
		width: 60%;
		border-right: 2px #fff solid;
	}

	#paperFormText h3 {
		text-align: left;
	}

	#paperForm a {
		margin: auto;
	}


	/* === MAIN FOOTER - DESKTOP === */

	#mainFooterCon {
		display: flex;
		flex-direction: row;
	}

	#mainFooter {
		padding: 40px 60px;
	}

	#mainFooter h3 {
		font-size: 24px;
		margin-bottom: 15px;
		text-align: left;
	}

	#mainFooter p {
		margin-bottom: 15px;
		color: #ccc;
	}

	/* Newsletter and Social Media Container */

	#newsSocCon {
		display: flex;
		flex-direction: column;
		flex: 1 1 400px;
		min-width: 305px;
		text-align: left;
		border-bottom: none;
		margin-right: 40px;
	}

	.text {
		height: 40px;
	}

	#mainFooterSocialNav ul {
		margin-top: 30px;
		justify-content: left;
	/*	background-color: tomato;*/
	}

	#mainFooterSocialNav ul li {
		/* let icon define height*/
		width: 40px;
		margin-right: 20px;
		transition: all .5s ease;
	}

	#mainFooterSocialNav ul li:hover {
		opacity: .5;
	}	

	/* Contact Blurb - DESKTOP*/

	#mainFooterContact {
		display: block;
		flex: 1 1 300px;
		min-width: 170px;
	}

	#mainFooterContact a {
		color: #fff;
		text-decoration: underline;
	}

	/* Footer Navigation - DESKTOP */

	#mainFooterNav {
		border-bottom: none;
		border-right: 2px solid #ccc;
		margin-left: 40px;
		margin-right: 40px;
		padding-right: 30px;
		order: 0;
		text-align: left;
	}

	#mainFooter li {
		margin-bottom: 5px;
	}

	#mainFooterNav li a {
		font-family: 'Lato', sans-serif;
		color: #fff;
		text-decoration: underline;
		font-size: 14px;
		line-height: 16px;
	}

	/* Footer Logo - DESKTOP */

	#mainFooterJoin {
		display: flex;
		flex-direction: column;
	}

	#mainFooterLogo {
		display: block;
		width: 134px;
		background-color: #fff;
		padding: 8px;
	}


	/* Bottom Footer - DESKTOP */

	#mainFooterBottom {
		font-family: Lato, sans-serif;
		margin-top: 80px;
		font-size: 14px;
		color: #ccc;
	}

	#mainFooterBottom ul li:nth-child(2), 
	#mainFooterBottom ul li:nth-child(3) {
		margin-right: 40px;
	}

	#mainFooterBottom ul li:first-child {
		margin-right: auto;
		order: 0;
	} /* END MAIN FOOTER DESKTOP */
}

@media screen and (min-width: 1164px) {

	/* History - DESKTOP */

	#history {
		padding: 73px;
	}

	.descBox {
		min-width: 484px;
	}

	.historyEntry:nth-child(even) .historyYear {
		margin-right: 421px;
	}

	.historyEntry:nth-child(odd) .historyYear {
		margin-left: 427px;
	}

	/* spacing between About page statements */
	.missionStatement:nth-child(2), .missionStatement:nth-child(5) {
		margin-right: 40px;
		margin-left: 40px;
	}

	.missionStatement {
		margin: 20px 0;
	}
}



